<!DOCTYPE html>
<html>
	<head>
		<title>Final Exam</title>
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">HOME</a></li>
				{% if current_user.is_authenticated %}
					<li><a href="/addPost">ADD YOUR POST</a></li>
					<li><a href="/update">UPDATE PASSWORD</a></li>
					<li><a href="/logout">LOGOUT</a></li>
				{% else %}
					<li><a href="/register">CREATE NEW USER</a></li>
					<li><a href="/login">LOGIN</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>